/* CSS files add styling rules to your content */

body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}
svg {
  display:block;
  margin:0 auto;
  background-color: pink;
}
.bar:hover{
   fill:cyan; 
}
#fcc-bar {
  width:1500px;
  margin:0 auto;
}


#tooltip {
  display:none;
  align-items: center;
  justify-content: center;
  position: absolute;
  text-align: center;
  width: 150px;
  padding: 2px;
  background: #BA55D3;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none; }